body {
    text-align: center;
    background: #9e9e9e url(../images/fons.webp);
    color: #4A4A4A;
}


#tauler {
    border-radius: 10px;
    border: 1px solid #666;
    position: relative;
    background: #232 url(../images/table.jpg);
    margin: 0 auto;
    box-shadow: 0 -1px 0 #999, 0 1px 0 #999, inset 0;
}


.carta {
    position: absolute;
    -webkit-perspective: 300px;
    perspective: 300px;
    transition: all 1s;
}

.carta:hover .cara {
    box-shadow: 0 0 10px #aaa;
}

.cara {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    
    transition-property: transform, shadow;
    transition-duration: .5s;
    backface-visibility: hidden;
}

.joc {
    display: none;
}


.davant {
    transform: rotate3d(0, 1, 0, -180deg);
}

.carta-girada .darrera {
    transform: rotate3d(0, 1, 0, 180deg);
}

.carta-girada .davant {
    transform: rotate3d(0, 1, 0, 0deg);
}

.menu-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.end-game{
    display: none;

    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index:999;
    background-color: #00000075;
}

.end-game-msg-container {
    margin: auto;
    width: 330px;
    z-index: 99;
}

.success, .fail {
    color: #000;
    border: 4px solid black;
    border-radius: 20px;
    margin-bottom: 30px;
    
    display: none;
}

.success{
    background-color: rgb(55, 157, 42);
}

.fail {
    background-color: rgb(255, 55, 55);
}

footer {
    margin-top: 30px;
    
}
footer>*{
    text-align: center !important;
}
footer.joc h3 {
    display: inline;
    margin: 20px;
}

#seconds{
    padding: 10px;
    background: #232 url(../images/table.jpg);
    color:white;
    border: 2px solid black;
    border-radius:10px;
    max-width: 80px;
    margin: 0px auto 20px auto;
    
}

.tornar-jugar button, .jugar {
    text-transform: uppercase;
    background-color: white;
    border: 2px solid black;
    border-radius:10px;
    padding: 12px 26px;
    font-weight: bold;
    cursor:pointer;
}

.jugar {
    background: #232 url(../images/table.jpg);
    color: white;
}


.menu {
    background-color: rgba(255, 255, 255,1);
    border: 2px solid black;
    border-radius: 10px;
    padding: 40px 50px 20px 50px;
    
    text-align: center;
}

.menu-container {
    margin-top: 10px;
    text-align: left;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
.menu-container div {
    padding: 2px;
}

.menu input[type=number] {
    background: none;

    padding: 5px 15px 5px 5px;
    margin-left: 0px;
    margin-bottom: 20px;

    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid black;
    box-shadow: none;
}



.center {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.triar-carta {
    margin:10px;
    position: relative !important;
}
.cartes-radio {
    margin-bottom: 5px;
}
.cartes-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.cartes-menu {
    margin-bottom: 10px;
}
.timer-menu{
    margin-bottom: 20px;
}

.timer-menu label {
    font-weight: bold;
    font-size: 1.4em;
    margin: 0px 7px;
}

.imp{
    color: rgb(232, 16, 16) !important;
}
.med {
    color:rgb(221, 144, 0) !important;
}
.easy {
    color:#397d02 !important;
}

.fix{
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px #397d02;
}

input[type=radio] {
    width: 1.5em;
    height: 1.5em;
}


.theme-changer{
    position: absolute;
    top:4%;
    right:2%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(65, 65, 65);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    background-color: rgb(65, 65, 65);
}


input:checked + .slider {
    background-color: #ffffff;
}


input:focus + .slider {
    box-shadow: 0 0 1px #c9c9c9;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Dark theme */

.dark {
    color: white;
    background: url("../images/wave.jpg");

}
.dark input {
    color: white !important;
}

.dark .menu {
    background-color: #343434 !important;
}

.dark * {
    border-color:white !important;
}